<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novo Usuário</title>

    <link
      rel="stylesheet"
      href="../static/css/bootstrap/bootstrap5.3.3.min.css"
    />
    <link rel="stylesheet" href="../../static/css/header.css" />
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" href="../../static/css/usuario.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg headerBgColor">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">Gvrer</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" th:href="@{/home}"
                >Entrar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container al">
        <form
        	class="mt-3 mb-3 col-md-6 login border border-4 rounded"
       		action="#"
 		  	th:action="@{/usuario/criarconta}" 
 		  	th:object="${usuario}" 
 		  	method="post"
        >
          <div class="card p-3">
            <div><h2 class="mt-2 mb-4">Cadastro de Usuário</h2></div>
            <div class="mb-3">
              <label for="usuario" class="form-label"
                >Usuário (E-mail ou celular)</label
              >
             <input
               type="text"
               class="form-control validar"
               name="nickname"
               placeholder="Usuário"
               id="nickname"
               th:field="*{nickname}"
               required
             />
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input
                type="password"
                class="form-control"
                name="senha"
                id="senha"
                placeholder="Senha"
                th:field="*{senha}"
                required
              />
              <p class="fas fa-eye eye-icon" id="togglePassword" onclick="togglePasswordVisibility()"></p>
              <div class="mt-2">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="termosDeUso"
                    required
                  />
                  <p>
                    Li e estou de acordo com os
                    <a
                      href="https://modeloinicial.com.br/conteudo/termos-de-uso-e-privacidade"
                      target="_blank"
                      class="text-decoration-none"
                      >Termos de Uso</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <button
                type="submit"
                id="button"
                class="btn btn-dark col-12"
              >
                <span
                >Criar conta</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer class="text-center bgColor">
      <div class="text-center footerBgColor p-3">
        <p class="p">&copy; Gvrer | By Renan</p>
      </div>
    </footer>

    <script src="../static/js/bootstrap/bootstrap5.3.3.bundle.min.js"></script>
    <script src="../static/js/sweetalert/sweetalert2.all.v11.16.0.min.js"></script>
    <script src="../static/js/usuario.js"></script>
    <script src="../static/js/validarInput.js"></script>
    <script src="../static/js/redirecionarParaOutraPagina.js"></script>
    <script>
      // Função para alternar a visibilidade da senha
      function togglePasswordVisibility() {
        var senhaField = document.getElementById('senha');
        var eyeIcon = document.getElementById('togglePassword');
        if (senhaField.type === "password") {
          senhaField.type = "text";
          eyeIcon.classList.add('fa-eye-slash');
        } else {
          senhaField.type = "password";
          eyeIcon.classList.remove('fa-eye-slash');
        }
      }

      function enviar() {
        if (validar()) {
          abrirEmOutraAba("../home/home.html");
        } else {
          Swal.fire({
            title: "Opps!",
            text: "preencha os espaços em branco",
            icon: "error",
            confirmButtonColor: "#FF385C",
          });
        }
      }
    </script>
  </body>
</html>